<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Weather-App</title>
</head>

<body>

  <h1>Weather-App</h1>

  <div class="container">

    <form action="/" method="POST">
      <input type="text" name="city" class="form-input" placeholder="Enter a city">
    </form>

    <div class="answer">
      <% if(temp !==null) {%>
        <h1 class="temp">
          <%= Math.round(temp - 273.15) %> °C
        </h1>
        <% } %>

          <div class="icon-des">

            <% if(des !==null) {%>
              <h3>
                <%= des %>
              </h3>
              <% } %>
          </div>

          <% if(city !==null) {%>
            <p class="city">
              <%= city %>
            </p>
            <% } %>

    </div>
  </div>
</body>

</html>